<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="RollingAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C://work/infra/logs/ldif_rolling.log" />
		<param name="Append" value="false" />
		<param name="MaxBackupIndex" value="4" />
		<param name="MaxFileSize" value="5000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%t] %c - %m%n" />
		</layout>
	</appender>
	<appender name="ErrorAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C://work/infra/logs/ldif_error.log" />
		<param name="Threshold" value="WARN"/>
		<param name="Append" value="false" />
		<param name="MaxBackupIndex" value="4" />
		<param name="MaxFileSize" value="5000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%t] %c - %m%n" />
		</layout>
	</appender>	
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%t] %c - %m%n" />
		</layout>
	</appender>		
	<root>
		<level value="INFO" />
		<appender-ref ref="RollingAppender" />
		<appender-ref ref="ErrorAppender" />
		<appender-ref ref="ConsoleAppender" />				
	</root>	
</log4j:configuration>
